.Rproj.user
.Rhistory
.RData

# Ignore R project files
*.Rproj

# Ignore R output
output/*

# Ignore large files
refs/att98dqt.pdf

# Ignore node modules
**/node_modules/*

# Ignore temporary files
~*

# Ignore outputs
figs/**/*.png

# Ignore doc outputs
doc/**/*.html
doc/**/*.pdf
doc/**/*.docx

# Ignore Visual Studio
.vscode
